.carousel-inner{
    max-height: 320px;

}
.carousel-item >img {
    object-fit: scale-down;
    max-height: 320px;
}

@media screen and (max-with: 768px) {
    
    .carouselExample{
        justify-content: center;
    }
}